<div class="flex flex-col p-4 rounded-3xl shadow-lg bg-slate-400">
  <div class="flex-none">
    <div class="px-4 pt-3 sm:px-0 text-center text-4xl font-semibold text-slate-800">
      <% if defined?(options) && options.include?(:title_link) && options[:title_link] %>
        <%= link_to article.title, article_path(article) %>
      <% else %>
        <%= article.title %>
      <% end %>
    </div>
    <% if article.user %>
      <div class="flex justify-center items-end pb-1">
        <div class="m-1">
          <%= gravatar_for(article.user, size: 30) %>
        </div>
        <div class="text-md font-medium text-slate-700 align-text-bottom">
          by <%= link_to article.user.username, user_path(article.user) %>
        </div>
      </div>
    <% end %>
    <div class="text-sm pb-2 text-center text-slate-600">
      created <%= time_ago_in_words(article.created_at) %> ago | updated <%= time_ago_in_words(article.updated_at) %> ago
    </div>
    <div class="m-auto max-w-xl border-b border-slate-500"></div>
  </div>
  <div class="flex-1 text-lg p-6 font-medium text-left text-slate-700">
    <p <%= (defined?(options) && options.include?(:line_clamp)) ? "class=#{options[:line_clamp]}" : "" %>><%= article.description %></p>
  </div>
  <% if defined?(options) && options.include?(:links) %>
    <div class="flex-none mb-2 mx-6 text-indigo-600 text-right">
      <% links = options[:links].reverse %>
      <% while links.count > 0 %>
        <% link = links.pop %>
        <% case link %>
        <% when :show %>
          <span class="hover:text-indigo-900"><%= link_to 'Show', article_path(article) %></span>
        <% when :edit %>
          <span class="hover:text-indigo-900"><%= link_to 'Edit', edit_article_path(article) %></span>
        <% when :delete %>
          <span class="hover:text-indigo-900"><%= link_to 'Delete', article_path(article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></span>
        <% end %>
        <%= "|" if links.count > 0 %>
      <% end %>
    </div>
  <% end %>
</div>
