<h1>Article Listing</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
<% line_count = 0 %>
<% @articles.each do |article| %>
  <% if line_count.odd? %>
    <tr class="odd">
  <% else %>
    <tr class="even">
  <% end %>
    <td class="title"><%= link_to article.title,  article_path(article) %></td>
    <td class="description"><%= link_to article.description, article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% line_count += 1 %>
<%end%>
</table>
<p>
 <%= link_to 'Create New Article', new_article_path %>
</p>
