<header>
  <h1>Daedalus</h1>
  <h2>Hero or Villan</h2>
  <h2>Which will you be?</h2>
</header>
<nav><%= link_to 'Home', root_path %> | <%= link_to 'About', about_path %> | <%= link_to 'Download', download_path %> | <%= link_to 'Blog', articles_path %> | <%= link_to 'Contact', contact_path %></nav>
<div class="text_container">
  <h1>Create a new article</h1>
  <%= form_for @article do |f| %>
    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>