<div class="row underline">
  <div class="col-xs-2 article-author">
    <% if @article.user %>
      <ul class="list-unstyled text-center">
        <li><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
        <li class="article-title">
          <%= link_to @article.user.username, user_path(@article.user) %>
        </li>
      </ul>
    <% end %>
  </div>
  <div class="col-xs-8">
    <h1 class="text-center article-header"><%= @article.title %></h1>
  </div>
</div>
<div class="row">
  <div class="well col-xs-10 col-xs-offset-1 drop">
    <h4 class="text-center"><%= @article.description %></h4>
  </div>
</div>
<div class="text-center article-actions">
  <%= link_to 'Edit This Article', edit_article_path(@article), class: "btn btn-primary" %>
  <%= link_to 'Delete This Article', article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete this article?"}, class: "btn btn-danger" %>
  <%= link_to 'List All Articles', articles_path, class: "btn btn-success" %>
</div>