<header>
  <h1>Daedalus</h1>
  <h2>Hero or Villan</h2>
  <h2>Which will you be?</h2>
</header>
<nav><%= link_to 'Home', root_path %> | <%= link_to 'About', about_path %> | <%= link_to 'Download', download_path %> | <%= link_to 'Blog', articles_path %> | <%= link_to 'Contact', contact_path %></nav>
<div class="text_container">
	<p>Welcome to the contact page.  This page is still under construction.  Please come back soon</p>
</div>
