<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<%= stylesheet_link_tag 'raid.css.scss' %>
</head>

<body>
<header>
  <h1>Daedalus</h1>
  <h2>Hero or Villan</h2>
  <h2>Which will you be?</h2>
</header>
<nav><%= link_to 'Home', root_path %> | <%= link_to 'About', about_path %> | <%= link_to 'Download', download_path %> | <%= link_to 'Contact', contact_path %></nav>
<div class="text_container">
	<p>In the near future, a download link will be available.  Please come back later to download the Daedalus app</p>
</div>
</body>
</html>
